spring:
  config:
    activate:
      on-profile: dev

  jpa:
    properties:
      hibernate:
        use_sql_comments: true

  liquibase:
    contexts: dev

logging:
  level:
    root: INFO
    br.app.leon.authservice: DEBUG
    org.hibernate.SQL: DEBUG
    org.hibernate.type.descriptor.sql.BasicBinder: TRACE

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics
  endpoint:
    health:
      show-details: always