spring:
  config:
    activate:
      on-profile: test

  datasource:
    url: ${DB_URL:jdbc:postgresql://localhost:5433/authdb_test}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}

  jpa:
    show-sql: false
    properties:
      hibernate:
        format_sql: false

  liquibase:
    contexts: test

server:
  port: 8081

logging:
  level:
    root: WARN
    br.app.leon.authservice: INFO