spring:
  application:
    name: auth-service

  datasource:
    url: jdbc:postgresql://localhost:5433/authdb
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver

  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        format_sql: true

  liquibase:
    enabled: true

server:
  port: 8080
  servlet:
    context-path: /api
  error:
    include-stacktrace: never

logging:
  level:
    root: INFO
    br.app.leon.authservice: INFO